.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 302px);
    grid-gap: 24px;

    width: 100%;
}

.characters-grid .card {
    width: initial;
}


@media screen and (max-width: 380px) {
    .characters-grid {
        grid-template-columns: 1fr;
    }
}
